*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  background-color: #bfd5f7;
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
 
  & .calculator{
    background-color: rgb(0, 0, 0);
    border: 0;
    outline: 0;
    width:36%;
    aspect-ratio: 1;
    padding: 23px;
    border-radius: 8px;
    box-shadow: 3px 5px 6px #272887,3px 5px 6px #ffffff;


    & form input[type="button"]{
      width: 23%;
      aspect-ratio: 1.3;
      background: transparent;
      color: white;
      border-radius: 8px;
      font-weight: 800;
      font-size: 2rem;
      border: none;
      outline: none ;
      margin-left: 5px ;
      box-shadow: -2px -1px 3px white inset;
    }

    .display-value{
      width: 100%;
      margin-bottom: 10px;
      background-color: #ffffff;
      text-align: right;
      color: black;
      font-size: 1rem;
      font-weight: 800;
      /* font-size: 20px; */
      padding-right:20px ;
    }
    #equal{
      background-color: orange;
    }
  }
}

@media screen and (min-width:340px) {
  .container .calculator{
     width: 60%;
     /* aspect-ratio: 1; */
 
     & form input[type="button"]{
       width: 20%;
       height: 30px;
       font-size: 8px;
       
     }
 
     & .display-value{
       height: 49px;
       border-radius: 8px;
     } 
   }
 }
 @media screen and (min-width:480px) {
  .container .calculator{
     width: 60%;
     /* aspect-ratio: 1; */
 
     & form input[type="button"]{
       width: 21%;
       height: 50px;
       font-size: 20px;
       
     }
 
     & .display-value{
       height: 59px;
       border-radius: 8px;
     } 
   }
 }
  @media screen and (min-width:540px) {
  .container .calculator{
     width: 60%;
     /* aspect-ratio: 1; */
 
     & form input[type="button"]{
       width: 22%;
       height: 60px;
       
     }
 
     & .display-value{
       height: 59px;
       border-radius: 8px;
     } 
   }
 }
@media screen and (min-width:720px) {
  .container .calculator{
     width: 50%;
     /* aspect-ratio: 1; */
 
     & form input[type="button"]{
       width: 22%;
       height: 70px;
       
     }
 
     & .display-value{
       height: 89px;
       border-radius: 8px;
       /* font-size: 2rem; */
     }
 
     
   }
 
   
 }
 @media screen and (min-width:1024px) {
  .container .calculator{
     width: 34%;
     /* aspect-ratio: 1; */
 
     & form input[type="button"]{
       width: 21%;
       height: 70px;
       /* padding: auto; */
       margin-left:3%;
       
     }
 
     & .display-value{
       height: 89px;
       border-radius: 8px;
       font-size: 2rem;
     }
 
     
   }
 
   
 }


 
 
